.swapper{
    position: relative;
}
.swapper-content{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14rem;
    background: url('../../assets/images/anime-sky.jpg') no-repeat 60%;
}
.about-content__swapper-hi{
    color: #fff;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 700;
}

.about-content{
    margin: 0 auto;
    width: 780px;
}
.about-content__title{
    color: #fff;
    display: inline-block;
    position: relative;
    letter-spacing: 5px;
    line-height: 1.625;
    margin: 18px 0;
}
.about-content__title:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    left: 4px;
    --bg-opacity: 1;
    background-color: #b71c1c;
    background-color: rgba(169, 8, 8, 0.30);
    /* background-color: rgba(183, 28, 28, 0.25); */
    width: 100%;
    height: 0.5rem;
}

.about-content__meet{
    display: inline-block;
    padding: 10rem 5px 2rem;
}

.about-content__time{
    display: inline-block;
    margin:2rem 0 3rem;
    color: #c5c5c5;
}