.about{
    font-family: 'Moe-Mashiro','Merriweather Sans','Helvetica','Tahoma','Arial','PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei','sans-serif';
    margin: 0 auto;
    width: 780px;
}


